@using EmployeeManagementPortal.Models;
@page "/EmployeeManagement"

<PageTitle>Employee Management</PageTitle>

<h1>Employee Management</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (Employees == null)

{

    <p><em> Loading...</em></p>

}

else

{

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Position</th>
                <th>Department</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var employee in Employees)
            {
                <tr>
                    <td>@employee.Id</td>
                    <td>@employee.Name</td>
                    <td>@employee.Position</td>
                    <td>@employee.Department</td>
                    <td>@employee.Salary</td>
                    <td>
                        <div>
                            <button @onclick="() => DeleteEmployee(employee.Id)">Delete</button>
                        </div>
                    </td>
                </tr>

            }

        </tbody>

    </table>

}


@code {


    private List<Employee> Employees = new();

    protected override async Task OnInitializedAsync()
    {
        var apiUrl = "https://localhost:7109/api/Employee/GetAll";
        using var httpClient = new HttpClient();

        var result = await httpClient.GetFromJsonAsync<List<Employee>>(apiUrl);
        Employees = result ?? new List<Employee>();
    }

    async Task DeleteEmployee(int id)
    {
        var apiUrl = "https://localhost:7109/api/Employee/DeleteById";
        using var httpClient = new HttpClient();

        var response = await httpClient.GetFromJsonAsync($"/api/employees/{id}");
        if (response.IsSuccessStatusCode)
        {
            try
            {
                Employees = await httpClient.GetFromJsonAsync<List<Employee>>(apiUrl);
                 

            }catch (Exception e)
            {

                Console.WriteLine("Delete failed: " + response.StatusCode);
                
            }
            }
        }



    private void EditEmployee(int id)
    {
        // NavigationManager.NavigateTo($"/edit/{id}");
    }
}
